*{
    margin: 0;
    padding: 0;

}
body {
    background-image:url("../pics/background.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;

}
.navbar{
    background-color: rgb(0, 0, 0) !important;
}
.navbar-brand{
    color: white;
}
.navbar-brand:hover{
    color: white;
}
.navbar .navbar-nav li a{
    color: white !important;

}
.banner-text{
    text-align: center;
    color: rgb(255, 255, 255);
    padding-top: 180px;

}
.banner-text h1{
    color: black;
    font-size: 130px;
    text-shadow: 2px 2px #ffffff;
    
      
}
.banner-text p{
    font-size: 20px;
    font-style:bold italic;
    font-weight: bold;



}
.banner-text h1{
    font-size: 130px;
   
}
.banner-btn{
    margin: 70px auto 0;
}
.banner-btn a{
    font-weight: bold;
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color:rgb(255, 255, 255) ;
    border: .5px solid rgb(255, 255, 255);
    position: relative;
    z-index: 1;
    transition: color 0.5s;
}
.banner-btn a span{
    width: 0;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgb(0, 0, 0);
    z-index: -1;
    transition: 0.5s;

}
.banner-btn a:hover span{
    width: 100%;
   
}
.banner-btn a:hover{
   color:rgb(255, 255, 255);
}
h1{
    color: white;
}

